body {
  background-image: linear-gradient(
    45deg,
    var(--x-secondary-color),
    var(--o-secondary-color)
  );
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

h3#lobby-status {
  float: clear;
}

main {
  margin: 5px 0;
  max-height: 70vh;

  > aside {
    width: 140px;
    padding: 5px;
    text-align: center;
    background: light-dark(white, black);
  }

  > aside:first-of-type {
    float: left;
    border-radius: 0 4px 4px 0;
  }
  > aside:last-of-type {
    float: right;
    border-radius: 4px 0 0 4px;
  }
}

.game-board {
  width: fit-content;

  margin: 0px auto;

  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 0.5em 0.5em;

  & button {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid light-dark(white, black);
    font-size: 10vmax;
    font-weight: 800;
    line-height: 0;
    border-radius: 0;
    box-sizing: border-box;

    &:disabled {
      background: transparent;
      border: 1px solid light-dark(black, white);
    }

    &.mark-x {
      color: var(--x-primary-color);
    }

    &.mark-o {
      color: var(--o-primary-color);
    }
  }
}

footer {
  position: absolute;
  width: calc(100% - 2em);
  bottom: 1em;
  left: 1em;
}
