:root {
  color-scheme: light dark;
  --x-primary-color: light-dark(rgb(172 47 98), rgb(253, 179, 209));
  --x-secondary-color: light-dark(rgb(253, 179, 209), rgb(110, 27, 61));
  --o-primary-color: light-dark(rgb(44 154 118), rgb(158, 255, 223));
  --o-secondary-color: light-dark(rgb(158, 255, 223), rgb(23, 88, 67));

  --color-theme1A: rgb(212, 128, 76);
  --color-theme1B: rgb(93, 152, 135);
  --color-theme1C: rgb(38, 65, 66);
  --color-theme1D: rgb(147, 176, 203);
  --color-theme1E: rgb(78, 51, 48);

  --color-theme-beach1: rgb(91, 204, 213);
  --color-theme-beach2: #1072c7;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

button,
input[type="button"] {
  background: linear-gradient(
    light-dark(#efefef, #444444),
    light-dark(#e5e5e5, #292929)
  );
  border: 1px solid rgb(127, 127, 127);
  border-radius: 4px;
  color: light-dark(black, white);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  &:disabled {
    background: linear-gradient(
      light-dark(#d1d1d1, #646464),
      light-dark(#bdbdbd, #474747)
    );
  }

  &:active {
    background: light-dark(white, black);
  }
}

#debug-panel {
  /* display: none; */
  width: fit-content;
  border: 0px none transparent;
  padding: 20px;
  margin: 0px;
  background-color: light-dark(white, black);
  align-content: start;
  border-radius: 4px;
  position: fixed;
  top: 5px;
  right: 5px;
}

#debug-panel > form.get-user > button[type="submit"] {
  margin-left: 5px;
}

nav#top-nav {
  width: 100%;
  padding: 0 0.5em;
  margin: 0;
  margin-bottom: 0.5em;
  box-sizing: border-box;
  gap: 0.5em;
  display: flex;
  align-items: center;
}

.flex-fill {
  flex-grow: 1;
}
