body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(
    45deg,
    var(--x-secondary-color),
    var(--o-secondary-color)
  );
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

body > main {
  width: fit-content;
  margin: auto;
}

body > main > section {
  align-content: center;
  flex-direction: column;
  padding: 20px 20px;
  background-color: light-dark(white, black);
  border-radius: 4px;
}

#discord-sign-in {
  background-color: #5865f2;
  background-image: none;
  color: white;
  border: 0px none transparent;
}

#discord-sign-in > img {
  aspect-ratio: calc(619 / 469);
  margin-left: 5px;
  height: 14px;
  object-fit: contain;
  width: fit-content;
}
